@model PayNearMe.Models.ForgotPasswordModel
@{ ViewBag.Title = "Forgot Password"; }
<style>
    .fpHeader {
        border: 2px solid #ff1c1c;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        background-color: red;
        padding-top: 15px;
        min-width: 630px;
    }
    .fpBody {
        border: 2px solid lightgrey;
        border-top: none;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        padding: 15px;
        min-width: 630px;
    }
    .fpDataContainer {
        width: 600px;
        margin: 0 auto;
        font-size: 14px;
        font-weight: lighter;
        position: relative;
        min-height: 290px;
    }
    .fpBtn {
        -webkit-background: linear-gradient(pink, #de0000, #de0000, #de0000, #de0000, #720000);
        -moz-background: linear-gradient(pink, #de0000, #de0000, #de0000, #de0000, #720000);
        -ms-background: linear-gradient(pink, #de0000, #de0000, #de0000, #de0000, #720000);
        -o-background: linear-gradient(pink, #de0000, #de0000, #de0000, #de0000, #720000);
        background: linear-gradient(pink, #de0000, #de0000, #de0000, #de0000, #720000);
        margin-top: 10px;
        color: white;
        border-radius: 5px;
        border-top-color: #ff3F3F;
        border-left-color: #ff3F3F;
        border-right-color: #E70000;
        border-bottom-color: #E70000;
        padding: 5px;
        outline: red;
    }
    .fpBtn:hover {
        -webkit-background: linear-gradient(pink, red, red, red, red, darkred);
        -moz-background: linear-gradient(pink, red, red, red, red, darkred);
        -ms-background: linear-gradient(pink, red, red, red, red, darkred);
        -o-background: linear-gradient(pink, red, red, red, red, darkred);
        background: linear-gradient(pink, red, red, red, red, darkred);
    }
    .fpBtn:active {
        -webkit-background: linear-gradient(darkred, red, red, red, red, red);
        -moz-background: linear-gradient(darkred, red, red, red, red, red);
        -ms-background: linear-gradient(darkred, red, red, red, red, red);
        -o-background: linear-gradient(darkred, red, red, red, red, red);
        background: linear-gradient(darkred, red, red, red, red, red);
    }
    .fpDataHolder {
        transition-duration: 1s;
        overflow: hidden;
        position: absolute;
        top: 0;
        margin: 0 auto;
    }
    .fpHide {
        width: 0%;
        left: 50%;
        z-index: -1;
    }
    .fpShow {
        width: 100%;
        left: 0%;
        z-index: 1;
    }
    .fpInner {
        transition-duration: 1s;
        width: 600px;
    }
    .fpInnerHide {
        transform: translateX(-50%);
    }
    .fpInnerShow {
        transform: translateX(0%);
    }   
</style>
<div class="fpHeader">
    <h2 class="col-md-12" style="color: white;"><b>Forgot Password</b></h2>
</div>
<div class="fpBody col-md-12">
    <h2>Let's retrieve your account!</h2>
    Please fill in all the fields shown.
    
    @using (Html.BeginForm("fpChangePassword", "ForgotPassword", FormMethod.Post, new { id = "ForgotPassword-Form", enctype = "multipart/form-data", @class = "fpDataContainer" }))
    {
        @Html.AntiForgeryToken()
        <div id="emailView" class="clearfix form-group fpDataHolder fpShow">
            <div id="emailInnerView" class="fpInner fpInnerShow">
                <div class="col-sm-5" style="padding-top: 15px;">
                    What is your e-mail address ?
                </div>
                <div class="col-sm-7">
                    @Html.TextBoxFor(model => model.email, new { @style = "width: 100%; text-align: center; text-transform: lowercase;", @placeholder = "e-mail address" })
                    @Html.ValidationMessageFor(model => model.email)
                </div>
                <div class="col-sm-7 col-sm-offset-5 text-right">
                    <button id="btnSendConfirmationCode" class="fpBtn" title="Request For A Code"
                            type="button" onclick="checkEmail($('#email'))">
                        Verify E-mail Address
                    </button>
                </div>
            </div>
        </div>
        <div id="codeView" class="clearfix form-group fpDataHolder fpHide">
            <div id="codeInnerView" class="fpInner fpInnerHide">
                <div class="col-sm-8" style="padding-top: 15px;">
                    Please input confimation code sent to you via email
                </div>
                <div class="col-sm-4">
                    @Html.TextBoxFor(model => model.securityCode, new { @style = "width: 100%; text-align: center; text-transform: uppercase;", @placeholder = "security code", @maxlength = 4 })
                </div>
                <div class="col-sm-7 col-sm-offset-5 text-right">
                    <div style="border-right: 1px solid black; padding-right: 10px; padding-bottom: 5px; margin-right: 5px; display: inline-block;">
                        <a title="Didn't receive any email? Click to resend"
                           onclick="checkEmail($('#email'))" style="cursor: pointer;">
                            Resend Code
                        </a>
                    </div>
                    <button type="button" class="fpBtn" title="Apply request" onclick="checkCode($('#email'), $('#securityCode'))" style="text-align: justify;">Verify Code</button>
                </div>
            </div>
        </div>
        <div id="newpassView" class="clearfix form-group fpDataHolder fpHide">
            <div id="newpassInnerView" class="fpInner fpInnerHide">
                <div class="col-sm-5" style="padding-top: 15px;">
                    New Password :
                </div>
                <div class="col-sm-7">
                    @Html.TextBoxFor(model => model.fpNewPassword, new { @style = "font-size: 30px; width: 100%; text-align: center;", @placeholder = "new password", @type = "password" })
                    <span class="msgPassError glyphicon" style="position: absolute; right: 15px; padding: 15px;"></span>
                    <div id="msgfpNewPassword" class="msgPassError hidden"
                         style="width: 100%; text-align: center; font-size: 14px; color: #ff000a; padding: 5px;">
                    </div>
                </div>
                <div class="col-sm-5" style="padding-top: 15px;">
                    Confirm New Password :
                </div>
                <div class="col-sm-7">
                    @Html.TextBoxFor(model => model.fpConfirmPassword, new { @style = "font-size: 30px; width: 100%; text-align: center;", @placeholder = "confirm new password", @type = "password" })
                    <span class="msgConfPassError glyphicon" style="position: absolute; right: 15px; padding: 15px;"></span>
                    <div id="msgfpConfirmPassword" class="msgConfPassError hidden"
                         style="width: 100%; text-align: center; font-size: 14px; color: #ff000a; padding: 5px;">
                    </div>
                </div>
                <div class="col-sm-7 col-sm-offset-5 text-right">
                    <button type="submit" class="fpBtn" title="Confirm New Password">Change Password</button>
                </div>
            </div>
        </div>
    }
</div>

<div id="fpMsgModal" class="hidden" style="position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%); width: 300px; z-index: 2001;">
    <div class="col-md-12" style="background: red; font-size: 18px; color: white; border-top-left-radius: 8px; border-top-right-radius: 8px; padding: 5px; border: 1px solid red;">
        Message
    </div>
    <div class="col-md-12" style="background: white; border-bottom: 2px solid red; border-right: 1px solid red; border-left: 1px solid red; padding: 10px; border-bottom-left-radius: 8px; border-bottom-right-radius: 8px;">
        <div id="msgContainer" class="col-md-12" style="text-align: center; margin: 5px;">Please Wait...</div>
        <br />
        <center>
            <button id="fpmsgbtn" onclick="hideModals()" class="fpBtn">- OK -</button>
        </center>
    </div>
</div>

<script>
    $(document).ready(function () {
        
        var fpPassIndicator = false,
            fpConfirmPass = false,
            fpNewPassword = false;
        $('input#fpNewPassword').focusout(function (e) {
            var currInput = $(this).val(),
                upperLetter = false,
                smallLetter = false,
                hasNumber = false;
            fpPassIndicator = false;
            fpConfirmPass = false;
            fpNewPassword = false;

            if (currInput == "")
                inputInvalid('fpNewPassword', 'msgPassError', 'Password field is required');
            else if (currInput.length < 8)
                inputInvalid('fpNewPassword', 'msgPassError', 'Password should be atleast 8 characters long');
            else {
                for (var count = 0; (count < currInput.length && (!smallLetter || !hasNumber || !upperLetter)) ; count++) {
                    if (!isNaN(currInput[count]))
                    { hasNumber = true; }
                    else if (currInput[count] == currInput[count].toUpperCase())
                    { smallLetter = true; }
                    else if (currInput[count] == currInput[count].toLowerCase())
                    { upperLetter = true; }
                }

                if (smallLetter && hasNumber && upperLetter) {
                    inputValid('fpNewPassword', 'msgPassError');
                    fpPassIndicator = true;
                    fpNewPassword = true;
                }
                else {
                    fpPassIndicator = false;
                    fpNewPassword = false;
                    inputInvalid('fpNewPassword', 'msgPassError', 'Password must contain atleast 1 lowercase letter, 1 uppercase letter & 1 digit number');
                }
            }

            if (fpPassIndicator) {
                if ($('input#fpConfirmPassword').val() != $('input#fpNewPassword').val()) {
                    inputInvalid('fpConfirmPassword', 'msgConfPassError', 'Password mismatch');
                }
                else {
                    inputValid('fpConfirmPassword', 'msgConfPassError');
                }
            }
            else {
                $('.msgConfPassError').addClass('hidden');
            }
        });

        $('input#fpConfirmPassword').keyup(function (e) {
            if (fpPassIndicator) {
                if (($(this).val() != $('input#fpNewPassword').val()) || $(this).val() == "" || $('input#fpNewPassword').val() == "") {
                    fpConfirmPass = false;
                    inputInvalid('fpConfirmPassword', 'msgConfPassError', 'Password mismatch');
                }
                else {
                    fpConfirmPass = true;
                    inputValid('fpConfirmPassword', 'msgConfPassError');
                    $('span.msgPassError').removeClass('glyphicon-remove');
                    $('span.msgPassError').removeClass('glyphicon-ok');
                }
            }
        });

        $('form#ForgotPassword-Form').submit(function (e) {
            e.preventDefault();
            
            if (fpPassIndicator && fpConfirmPass && fpNewPassword)
            {
                ajxloadtoggle("Confirming new password...");
                $.ajax({
                    url: '../ForgotPassword/fpChangePassword',
                    type: "POST",
                    data: $('form#ForgotPassword-Form').serialize(),
                    success: function (data) {
                        if (data.code == 0)
                            fpMsgBox(data.message);
                        else if (data.code == 1) {
                            fpMsgBox(data.message);
                            setTimeout(function () {
                                window.location.replace("/");
                            }, 5000);
                        }
                        else {
                            alert(data.message);
                            ajxloadtoggle();
                        }
                    },
                    error: function (error) {
                        alert("Something went wrong, Please try again!");
                        ajxloadtoggle();
                    }
                });
            }
        });
    });

    var globalEncCID = "", globalEncFN = "";

    function fpMsgBox(msg) {
        $('#fpMsgModal').removeClass('hidden');
        document.getElementById('msgContainer').innerHTML = msg;
    }

    function hideModals() {
        ajxloadtoggle('Loading...');
        ajxloadtoggle();
        $('#fpMsgModal').addClass('hidden')
    }

    function checkEmail(email) {
        ajxloadtoggle("Verifying...");
        $.ajax({
            url: '../ForgotPassword/CheckEmail',
            type: "POST",
            data: email.serialize(),
            success: function (data) {
                if (data.code == 0) 
                    fpMsgBox(data.message);
                else if (data.code == 1) {
                    requestCode(email, data.encCID, data.encFN, data.isForgot);
                    globalEncCID = data.encCID;
                    globalEncFN = data.encFN;
                }
                else {
                    alert(data.message);
                    ajxloadtoggle();
                }
            },
            error: function (error) {
                alert("Something went wrong, Please try again!");
                ajxloadtoggle();
            }
        });
    }

    function requestCode(email, CID, FN, isFP) {
        ajxloadtoggle("Requesting security code...");
        var actionName = (isFP == false) ? 'RequestCode' : 'ResendCode';
        $.ajax({
            url: '../ForgotPassword/' + actionName,
            type: "POST",
            data: email.serialize() + "&encCID=" + CID + "&encFN=" + FN,
            success: function (data) {
                if (data.code == 0)
                    fpMsgBox(data.message);
                else if (data.code == 1) {
                    fpMsgBox(data.message);
                    fpStep(0);
                }
                else 
                    ajxloadtoggle();
            },
            error: function (error) {
                alert("Something went wrong, Please try again!");
                ajxloadtoggle();
            }
        });
    }

    function checkCode(email, securityCode) {
        ajxloadtoggle("Verifying security code...");
        if (securityCode.val().length == 4) {
            $.ajax({
                url: '../ForgotPassword/CheckCode',
                type: "POST",
                data: email.serialize() + '&' + securityCode.serialize() + "&encCID=" + globalEncCID + "&encFN=" + globalEncFN,
                success: function (data) {
                    if (data.code == 0)
                        fpMsgBox(data.message);
                    else if (data.code == 1) {
                        ajxloadtoggle(data.message);
                        setTimeout(function () { ajxloadtoggle(); }, 1300);
                        fpStep(2);
                    }
                    else
                        ajxloadtoggle();
                },
                error: function (error) {
                    alert("Something went wrong, Please try again!");
                    ajxloadtoggle();
                }
            });
        }
        else
            fpMsgBox("Please key in securty code <br /> (4 alphanumeric)");
    }

    function fpStep(num) {
        var elementID = ['#emailView', '#emailInnerView', '#codeView', '#codeInnerView', '#newpassView', '#newpassInnerView'];
        
        $(elementID[num]).attr('style', 'border-left: 1px solid gray; border-right: 1px solid gray; border-radius: 10px;');
        $(elementID[num]).removeClass('fpShow');
        $(elementID[num]).addClass('fpHide');
        $(elementID[num + 1]).removeClass('fpInnerShow');
        $(elementID[num + 1]).addClass('fpInnerHide');

        setTimeout(
            function () {
                $(elementID[num]).removeAttr('style');
                $(elementID[num + 2]).attr('style', 'border-left: 1px solid gray; border-right: 1px solid gray; border-radius: 10px;');
                $(elementID[num + 2]).removeClass('fpHide');
                $(elementID[num + 2]).addClass('fpShow');
                $(elementID[num + 3]).removeClass('fpInnerHide');
                $(elementID[num + 3]).addClass('fpInnerShow');
            }
        , 1000);

        setTimeout(
            function () {
                $(elementID[num + 2]).removeAttr('style')
            }
        , 2000);
    }
    
</script>