@model PayNearMe.Models.LoginViewModel
@{ViewBag.Title = "Log In";}

<section id="login" class="clearfix">
    @using (Html.BeginForm("Submit", "Account", FormMethod.Post, new { id = "login-form" }))
    {
        @Html.AntiForgeryToken()
        <div class="col-md-12 main-login clearfix" onload="hideNav()">
            <div class="col-md-6 clearfix log-container">
                <div class="title-a col-md-12 form-group" style="text-align: center;">
                    <span>Already have an account?</span>
                </div>
         
                <div class="col-md-12 clearfix form-group">
                    <div class="col-md-3">
                        <label style="font-weight: 800">E-mail</label>
                    </div>
                    <div class="col-md-9">
                        @Html.TextBoxFor(model => Model.EmailAddress, new { @style = "width:100%; text-align: center;", @required = "required" })
                    </div>
                </div>

                <div class="col-md-12 clearfix form-group">
                    <div class="col-md-3">
                        <label style="font-weight: 800">Password</label>
                    </div>
                    <div class="col-md-9">
                        @Html.PasswordFor(model => Model.Password, new { @style = "width:100%; text-align: center;", @required = "required" })
                    </div>
                </div>
                <div class="col-md-12 clearfix form-group" style="text-align: right;">
                    <div class="col-md-12">
                        <div style="display: inline-block; border-right: 1px solid black; padding-right: 10px; margin-right: 10px;display:block">
                            <label>
                                @Html.ActionLink("Forgot Password", "Index", "ForgotPassword", null, new { @style = "color:blue;font-size:14px; font-weight: 700;" })
                            </label>
                        </div>
                        <button class="btn btn-red size18" type="button" id="btnLoginAjx">Login</button>
                    </div>
                </div>

                <div class="col-md-12 clearfix" style="text-align: center;">
                    <div class="title-a">
                        <span>If not, then sign up now!</span>
                    </div>
                    @Html.ActionLink("Sign Up to Send Money Now", "Register", "", new { @class = "btn btn-red size18" })
                    <span class="span-sign">
                        <br /> If you don't have a valid Login E-mail and Password
                        <br /> please register.
                    </span>
                </div>
            </div>
        </div>
    }

    <div class="modal" id="ajxLoginModal" data-backdrop="static" data-keyboard="false">
        <div class="modal-content" style="text-align:center;width:50%">
            <div class="panel-heading panel-modal-heading">
                MESSAGE
            </div>
            <div class="panel-body panel-modal-body">
                <p id="ajxLoginMsg"></p>
                <button class="btn btn-success" id="btnLoginSuccessOkay">Okay</button>
            </div>
        </div>
    </div>
</section>

<script>
    $(document).ready(function ()
    {
        $('#login-form').on('keyup keypress', function (e) {
            var keyCode = e.keyCode || e.which;
            if (keyCode === 13) {
                $('#btnLoginAjx').click();
                return false;
            }
        });

        $('#btnLoginAjx').click(function (e) {
            if ($('#login-form').valid())
            {
                var datos = $('#login-form').serialize();
                ajxloadtoggle();
                $.ajax({
                   async: true,
                   type: 'POST',
                   url: '@Url.Action("Submit", "Account")',
                   data: datos,
                   cache: false,
                   success: function (json) {
                       ajxloadtoggle();
                       var resp = $.parseJSON(json);

                       if (resp.respcode == 1) {
                           window.location.href = '@Url.Action("Index", "Home")';
                       }
                       else if(resp.respcode == 2)
                       {
                           window.location.href = '@Url.Action("Authenticate", "Register")';
                       }
                       else {

                           errModal(resp.message);
                       }
                   },
                    error: function (errMsg) {
                        ajxloadtoggle();
                        errModal('Something went wrong while trying to process request. Please try again...');
                   }
               });
            }
        });
    });

    function errModal(message) {
        $("#modContent").html(message);
        $("#myModal").show();
    }
</script>
